/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex mono', sans-serif;
  background-image: var(--bg__image, url(../images/cover-image-dark.png));
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px;
  min-height: 668px;
  height: 100vh;
  position: relative;
}

.title__description {
  font-weight: 700;
  line-height: 23.4px;
  grid-row-start: 3;
  grid-row-end: auto;
  align-self: center;
}

.title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  color: var(--title-color);
}

.header__title {
  justify-self: start;
  text-shadow: 4px 4px 0 var(--shadow-color);
  grid-row-start: 2;
  grid-row-end: auto;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  align-items: center;
  grid-row-start: 1;
  grid-row-end: auto;
}



.decorated-zone::before {
  display: block;
  content: '';
  block-size: 25px;
  inline-size: 25px;
  border: 1px solid var(--accent-color);
  border-left: none;
  border-bottom: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.decorated-zone::after {
  display: block;
  content: '';
  block-size: 25px;
  inline-size: 25px;
  border: 1px solid var(--accent-color);
  border-right: none;
  border-top: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.section__title {
  padding-bottom: 20px;
  color: var(--section__title-color);
}

.rec__icon,
.title__description,
.section__title,
.section__article_title,
.section__article_description,
.section__article_sub-title,
.gallery__title {
  font-size: 1.125rem;
}

.section__article_description {
  color: var(--article__description-color);
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0;
}

.section__article_sub-title {
  margin-top: 5px;
  grid-area: subtitle;
  padding-bottom: 20px;
  display: block;
}

.bold-reset {
  font-weight: 400;
}

.header__theme-menu-button {
  border: none;
  background: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: lowercase;
  outline: none;
  color: var(--accent-color);
  padding: 1.5px 13px;
}


.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--accent-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--accent-color);
  /* text-decoration: underline; */
  /* text-underline-offset: 3px; */
}

.header__theme-menu-button:active {
  outline: 1px solid #ff0070;
}

.header__theme-menu-button:hover {
  outline: 1px solid #ff007066;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.title-decor {
  background-color: var(--accent-color);
  background-clip: content-box;
  color: var(--article__title-color);
}

.rec__icon {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  padding-top: 12px;
  padding-right: 20px;
  color: var(--accent-color);
}

.rec__icon::after {
  content: '';
  display: block;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-left: 12px;
  margin-top: 6px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
  padding: 0 10px;
  margin-top: 40px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 13px;
}

.gallery__item {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: bottom;
}

.article__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.article_grid {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.gallery__collection {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.footer {
  display: grid;
  grid-template-rows: 1fr;
  height: 100vh;
  padding: 10px;
  min-height: 668px;
  position: relative;
  margin-top: 40px;
}

.footer__title {
  text-shadow: 2px 2px 0 var(--shadow-color);
  justify-self: center;
  align-self: center;
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
}


.link:hover {
border-bottom: 1px solid  var(--accent-color);
}

.link:focus-visible {
  outline: 1px solid var(--accent-color);
}

.section__gold-fish-title {  
  grid-area: title;
}

.area__list {
  grid-area: article__list;
}

@media (width >= 768px) {

  .main {
    margin-top: 60px;
    padding: 0 20px;
    row-gap: 82px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .rec__icon {
    top: 10px;
    right: 10px;
  }

  .header {
    padding: 20px;
  }

  .title__description {
    max-inline-size: 364px;
    justify-self: end;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__title {
    margin-left: -20px;
  }

  .section__focus {
    display: grid;
    grid-template-columns: 256px 1fr;
  }

  .concentration {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 236px 1fr;
  }

  .concentration__title {
    grid-row-start: 1;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: auto;
  }

  .concentration__list {
    grid-row-start: 2;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .section__gold-fish {  
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 257px 1fr;
    grid-template-areas:
      'title subtitle'
      'title article__list';
  }

  .section__article_sub-title {
    margin: 0;
  }
  
  .gallery {
    row-gap: 20px;
  }

  .gallery__collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .gallery__item {
    min-height: 100%;
    max-height: 100%;
  }

  .gallery__collection img:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery__collection img:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .gallery__collection img:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .gallery__collection img:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery__collection img:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .footer {
    padding: 20px;
    min-height: 1024px;
    height: 100vh;
    margin-top: 60px;
  }
}

@media (width >= 1024px) {

  .header__theme-menu {
    /*  NAV */
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    /* UL */
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    gap: 10px;
  }

  .header__theme-menu-item {
    /* LI */

    justify-self: start;
  }

  .section__focus {
    grid-template-columns: 335px 1fr;
  }

  .section__gold-fish {
    grid-template-columns: 335px 1fr;
  }

  .section__article_sub-title {
    padding-bottom: 18px;
  }

  .concentration {
    grid-template-columns: 315px 1fr;
  }

  .concentration__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  .title__description {
    max-inline-size: 491px;
  }

  .footer,
  .header {
    min-height: 768px;
  }

  .footer__title {
    margin: 0;
  }

 
}
