/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: 'IBM Plex mono', sans-serif;
  display: grid;
  grid-template-columns: 1fr;
  /* row-gap: 30px; */
  padding: 10px;
  background-image: var(--bg__image, url(../images/cover-image-dark.png));
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.page:not(:last-child) {
  row-gap: 30px;
}

.section__title {
  padding-bottom: 20px;
  color: var(--section__title-color);
}

.rec__icon,
.title__description,
.section__title,
.section__article_title,
.section__article_description,
.section__article_sub-title,
.gallery__title {
  font-size: 1.125rem;
}

.title__description {
  font-weight: 700;
  line-height: 23.4px;
  white-space: pre-line;
  padding-bottom: 31px;
}

.section__article_description {
  color: var(--article__description-color);
  font-weight: 400;
  line-height: 23.4px;
  letter-spacing: 0;
}

.section__article_sub-title {
  margin-top: 5px;
  grid-area: subtitle;
  padding-bottom: 20px;
  display: block;
}

.articleTitle__bold-reset {
  font-weight: 400;
}

.header__theme-menu {
  justify-self: end;
  padding-top: 40px;
}

.header {
  position: relative;
  min-height: 100vh;
  margin-bottom: 30px;  /*delete after */
}

.header__theme-menu-item {
  padding-bottom: 11.5px;
}

.decorated-zone::before {
  display: block;
  content: '';
  block-size: 25px;
  inline-size: 25px;
  border: 2px solid var(--accent-color);
  justify-self: end;
  border-left: none;
  border-bottom: none;
}

.header__theme-menu-button {
  border: none;
  background: none;
  box-shadow: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0;
  text-transform: lowercase;
  padding: 1.5px 13px;
  outline: none;
  color: var(--accent-color);
}

.header__theme-menu-button_active {
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.header__theme-menu-button:active {
  outline: 1px solid #ff0070;
}

.header__theme-menu-button:hover {
  outline: 1px solid #ff007066;
}

.title {
  justify-self: start;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  letter-spacing: 0;
  padding-bottom: 55px;
  padding-top: 65px;
  text-shadow: 4px 4px 0 var(--shadow-color);
  color: var(--title-color);
}

.title-decor {
  background-color: var(--accent-color);
  background-clip: content-box;
  color: var(--article__title-color);
}

.decorated-zone::after {
  display: block;
  content: '';
  block-size: 25px;
  inline-size: 25px;
  border: 2px solid var(--accent-color);
  justify-self: start;
  border-right: none;
  border-top: none;
}

.rec__icon {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  text-transform: uppercase;
  padding-top: 1px;
  padding-right: 9px;
  color: var(--accent-color);
}

.rec__icon::after {
  content: '';
  display: block;
  block-size: 9px;
  inline-size: 9px;
  border-radius: 50%;
  background-color: var(--accent-color);
  box-shadow: 0 0 4px 2px var(--accent-color);
  margin-left: 12px;
  margin-top: 6px;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 50px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
  margin-bottom: 50px;
}

.gallery__item {
  display: block;
  inline-size: 100%;
  object-fit: cover;
  object-position: bottom;
}

.article__list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

article {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 10px;
}

.gallery__collection {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}

.footer {
  min-height: 100vh;
}

.footer__title {
  padding: 250px 0;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.link:hover {
  text-decoration-line: underline;
  text-underline-offset: 3px;
}

.link:focus-visible {
  outline: 1px solid var(--accent-color);
}

.section__second_title {
  grid-area: title;
}

.area__list {
  grid-area: article__list;
}

@media (width >= 768px) {

  .main {
    row-gap: 82px;
  }

  .title__description {
    max-inline-size: 364px;
    justify-self: end;
    padding-bottom: 138px;
  }

  .title {
    padding: 173px 0 162px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    margin-left: -20px;
  }

  .header__theme-menu {
    padding-top: 146px;
  }

  .section__doubleColumn {
    display: grid;
    grid-template-columns: 256px 1fr;
  }

  .concentration {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 236px 1fr;
  }

  .concentration__title {
    grid-row-start: 1;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: auto;
  }

  .concentration__list {
    grid-row-start: 2;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .section__second {
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 257px 1fr;
    grid-template-areas:
      'title subtitle'
      'title article__list';
  }

  .section__article_sub-title {
    margin: 0;
  }

  .gallery {
    row-gap: 20px;
  }

  .gallery__collection {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 20px;
  }

  .gallery__item {
    min-height: 100%;
    max-height: 100%;
  }

  .gallery__collection img:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .gallery__collection img:nth-child(2) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .gallery__collection img:nth-child(3) {
    grid-column: span 1;
    grid-row: span 2;
  }

  .gallery__collection img:nth-child(4) {
    grid-column: span 1;
    grid-row: span 1;
  }

  .gallery__collection img:nth-child(5) {
    grid-column: span 2;
    grid-row: span 1;
  }

  .page {
    padding: 20px;
    row-gap: 80px;
  }

  .footer__title {
    display: flex;
    justify-self: center;
    padding-bottom: 410px;
    padding-top: 422px;
    margin-left: -8px;
  }
}

@media (width >= 1024px) {

  .page {
    row-gap: 80px;
  }

  .header__theme-menu {
    justify-self: center;
    padding: 0;
    margin-top: -25px;
  }

  .header__theme-menu-list {
    display: flex;
  }

  .title {
    padding: 265px 0 115px;
  }

  .section__doubleColumn {
    grid-template-columns: 335px 1fr;
  }

  .section__second {
    grid-template-columns: 335px 1fr;
  }

  .section__article_sub-title {
    padding-bottom: 15px;
  }

  .concentration {
    grid-template-columns: 315px 1fr;
  }

  .concentration__list {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
  }

  .title__description {
    max-inline-size: 491px;
    white-space: normal;
    padding-bottom: 90px;
  }

  .footer__title {
    padding: 280px 0 272px;
  }
}

@media (prefers-color-scheme: light) {

  .rec__icon {
    display: none;
  }

  .page {
    background-image: var(--bg__image, url(../images/cover-image-light.png));
  }
}