/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #ff0070;
  --title__color-dark: #db00ff;
  --article__title-color: #000028;
  --article__description-color: #F1B2CE; 
}
